<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>컨설턴트 - 학생 배정</title>
  <th:block th:replace="~{/common/fragment :: common}"></th:block>
  <link rel="stylesheet" th:href="@{/css/consultant/charged.css}">
</head>

<body>

  <script th:src="@{/js/consultant/charged.js}"></script>
  <script>lucide.createIcons();</script>
</body>

</html>