<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	
<configuration>

    <settings>
    	<!-- 오라클 NULL 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
    	<!-- 카멜 케이스 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!-- Member -->
        <typeAlias type="com.ax.member.MemberVO$Login" alias="MemberLogin"/>
        <typeAlias type="com.ax.member.MemberVO$Detail" alias="MemberDetail"/>
        <typeAlias type="com.ax.member.MemberVO$Join" alias="MemberJoin"/>
        <typeAlias type="com.ax.member.MemberVO$SearchRequest" alias="MemberSearchRequest"/>
        <typeAlias type="com.ax.member.MemberVO$SearchResponse" alias="MemberSearchResponse"/>
        
        <!-- Role -->
        <typeAlias type="com.ax.global.security.RoleVO$UrlAccessCheck" alias="RoleUrlAccessCheck"/>
        
        <!-- Student -->
        <typeAlias type="com.ax.student.StudentVO$Register" alias="StudentRegister"/>
        <typeAlias type="com.ax.student.StudentVO$Detail" alias="StudentDetail"/>
        <typeAlias type="com.ax.student.StudentVO$Search" alias="StudentSearch"/>
        <typeAlias type="com.ax.student.StudentVO$SearchResult" alias="StudentSearchResult"/>

        <!-- TargetInfo -->
        <typeAlias type="com.ax.student.TargetInfoVO$Register" alias="TargetInfoRegister"/>
        <typeAlias type="com.ax.student.TargetInfoVO$Pair" alias="TargetInfoPair"/>
        
        <!-- Record -->
        <typeAlias type="com.ax.student.record.RecordVO$GroupStatus" alias="RecordGroupStatus"/>
        <typeAlias type="com.ax.student.record.RecordVO$Insert" alias="RecordInsert"/>
        <typeAlias type="com.ax.student.record.RecordVO$Detail" alias="RecordDetail"/>
        <typeAlias type="com.ax.student.record.RecordVO$AnalysisPair" alias="RecordAnalysisPair"/>
        
        <!-- ApiRecord -->
        <typeAlias type="com.ax.student.record.ApiRecordVO$ApiRequest" alias="ApiRecordApiRequest"/>
        
        <!-- Mock -->
        <typeAlias type="com.ax.student.mock.MockVO$Detail" alias="MockDetail"/>
        <typeAlias type="com.ax.student.mock.MockVO$SubjectScore" alias="MockSubjectScore"/>
        <typeAlias type="com.ax.student.mock.MockVO$GroupStatus" alias="MockGroupStatus"/>
        <typeAlias type="com.ax.student.mock.MockVO$Insert" alias="MockInsert"/>

        <!-- School -->
        <typeAlias type="com.ax.school.SchoolVO$Registor" alias="SchoolRegister"/>
        <typeAlias type="com.ax.school.SchoolVO$Detail" alias="SchoolDetail"/>
        
        <!-- Consultant -->
        <typeAlias type="com.ax.consultant.ConsultantVO$Detail" alias="ConsultantDetail"/>
        <typeAlias type="com.ax.consultant.ConsultantVO$Search" alias="ConsultantSearch"/>
        
        <!-- 전역 설정 -->
        <package name="com.ax"/>
    </typeAliases>
</configuration>