<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	
<configuration>

    <settings>
    	<!-- 오라클 NULL 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
    	<!-- 카멜 케이스 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!-- Member -->
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Login" alias="MemberLogin"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Detail" alias="MemberDetail"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Join" alias="MemberJoin"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$SearchRequest" alias="MemberSearchRequest"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$SearchResponse" alias="MemberSearchResponse"/>
        
        <!-- Role -->
        <typeAlias type="com.axaboutconsulting.global.security.RoleVO$UrlAccessCheck" alias="RoleUrlAccessCheck"/>
        
        <!-- Student -->
        <typeAlias type="com.axaboutconsulting.student.StudentVO$Register" alias="StudentRegister"/>
        <typeAlias type="com.axaboutconsulting.student.StudentVO$Register" alias="StudentRegister"/>
        <typeAlias type="com.axaboutconsulting.student.StudentVO$Search" alias="StudentSearch"/>

        <!-- TargetInfo -->
        <typeAlias type="com.axaboutconsulting.student.TargetInfoVO$Update" alias="TargetInfoUpdate"/>
        <typeAlias type="com.axaboutconsulting.student.TargetInfoVO$Pair" alias="TargetInfoPair"/>
        
        <!-- School -->
        <typeAlias type="com.axaboutconsulting.school.SchoolVO$Registor" alias="SchoolRegister"/>
        <typeAlias type="com.axaboutconsulting.school.SchoolVO$Detail" alias="SchoolDetail"/>
        
        <!-- Consultant -->
        <typeAlias type="com.axaboutconsulting.consultant.ConsultantVO$Detail" alias="ConsultantDetail"/>
        <typeAlias type="com.axaboutconsulting.consultant.ConsultantVO$Search" alias="ConsultantSearch"/>
        


        <!-- 전역 설정 -->
        <package name="com.axaboutconsulting"/>
    </typeAliases>
</configuration>