<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	
<configuration>

    <settings>
    	<!-- 오라클 NULL 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
    	<!-- 카멜 케이스 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!-- Member -->
        <typeAlias type="com.ax.member.MemberVO$Login" alias="MemberLogin"/>
        <typeAlias type="com.ax.member.MemberVO$Detail" alias="MemberDetail"/>
        <typeAlias type="com.ax.member.MemberVO$Insert" alias="MemberInsert"/>
        <typeAlias type="com.ax.member.MemberVO$Search" alias="MemberSearch"/>
        <typeAlias type="com.ax.member.MemberVO$Update" alias="MemberUpdate"/>
        
        <!-- Student -->
        <typeAlias type="com.ax.student.StudentVO$Insert" alias="StudentInsert"/>
        <typeAlias type="com.ax.student.StudentVO$Detail" alias="StudentDetail"/>
        <typeAlias type="com.ax.student.StudentVO$Search" alias="StudentSearch"/>

        <!-- TargetInfo -->
        <typeAlias type="com.ax.student.TargetInfoVO$Insert" alias="TargetInfoInsert"/>
        <typeAlias type="com.ax.student.TargetInfoVO$Pair" alias="TargetInfoPair"/>
        
        <!-- Record -->
        <typeAlias type="com.ax.student.record.RecordVO$GroupStatus" alias="RecordGroupStatus"/>
        <typeAlias type="com.ax.student.record.RecordVO$Insert" alias="RecordInsert"/>
        <typeAlias type="com.ax.student.record.RecordVO$Detail" alias="RecordDetail"/>
        <typeAlias type="com.ax.student.record.RecordVO$AnalysisPair" alias="RecordAnalysisPair"/>
        
        <!-- ApiRecord -->
        <typeAlias type="com.ax.student.record.ApiRecordVO$ApiRequest" alias="ApiRecordApiRequest"/>
        
        <!-- Mock -->
        <typeAlias type="com.ax.student.mock.MockVO$Detail" alias="MockDetail"/>
        <typeAlias type="com.ax.student.mock.MockVO$SubjectScore" alias="MockSubjectScore"/>
        <typeAlias type="com.ax.student.mock.MockVO$GroupStatus" alias="MockGroupStatus"/>
        <typeAlias type="com.ax.student.mock.MockVO$Insert" alias="MockInsert"/>

        <!-- School -->
        <typeAlias type="com.ax.school.SchoolVO$Insert" alias="SchoolInsert"/>
        <typeAlias type="com.ax.school.SchoolVO$Detail" alias="SchoolDetail"/>
        
        <!-- Consultant -->
        <typeAlias type="com.ax.consultant.ConsultantVO$Detail" alias="ConsultantDetail"/>
        <typeAlias type="com.ax.consultant.ConsultantVO$Search" alias="ConsultantSearch"/>
        
        <!-- ConsultantOrg -->
        <typeAlias type="com.ax.consultant.org.OrgVO$Insert" alias="OrgInsert"/>
        <typeAlias type="com.ax.consultant.org.OrgVO$Detail" alias="OrgDetail"/>
        <typeAlias type="com.ax.consultant.org.OrgVO$Search" alias="OrgSearch"/>

        <!-- FileInfo -->
        <typeAlias type="com.ax.global.file.FileInfoVO$Insert" alias="FileInfoInsert"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$Detail" alias="FileInfoDetail"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$InsertMapping" alias="FileInfoInsertMapping"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$GetFile" alias="FileInfoGetFile"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$FileResult" alias="FileInfoFileResult"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$UpdateStatus" alias="FileInfoUpdateStatus"/>
        <typeAlias type="com.ax.global.file.FileInfoVO$InsertHistory" alias="FileInfoInsertHistory"/>

        <!-- 전역 설정 -->
        <package name="com.ax"/>
    </typeAliases>
</configuration>