<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.axaboutconsulting.global.async.AsyncMapper">
	<insert id="insertStatus" parameterType="AsyncInsert" >
		<selectKey keyProperty="asyncNo" resultType="int" order="BEFORE">
			SELECT SEQ_ASYNC_STATUS.nextval FROM DUAL
		</selectKey>
		insert into ASYNC_STATUS(
			ASYNC_NO
			,JOB_ID_NO
			,TYPE
			,STATUS
			)
		VALUES(
			#{asyncNo}
			,#{jobNoId}
			,#{type}
			,#{status}
		)
	</insert>

	<update id="updateStatus" parameterType="AsyncUpdate">
		update ASYNC_STATUS
		set STATUS = #{status}
		,COMPLETED_AT = SYSDATE
		where ASYNC_NO = #{asyncNo}
	</update>

	<select id="selectIsRecordProcessing" parameterType="_int" resultType="_int">
		select count(*)
		from ASYNC_NO
		where JOB_ID_NO = #{studentNo}
		and TYPE = 'RECORD'
		and STATUS = 'PROCESSING'
	</select>
</mapper>
