<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.axaboutconsulting.student.RecordMapper">
  <resultMap id="RecordDetailMap" type="RecordDetail">
    <result property="createAt" column="created_at"/>
    <result property="status" column="status"/>
    <collection property="analysisPair" resultMap="pairMap"/>
  </resultMap>
  <resultMap id="pairMap" type="RecordAnalysisPair">
    <result property="field" column="field"/>
    <result property="analysis" column="analysis"/>
  </resultMap>

  <insert id="insertAnalysisGroup" parameterType="RecordGroupStatus">
    <selectKey keyProperty="groupNo" resultType="int" order="BEFORE">
			SELECT SEQ_MEMBER.nextval FROM DUAL
		</selectKey>
    insert into RECORD_ANALYSIS_GROUP(
      GROUP_NO, STUDENT_NO, STATUS
    ) VALUES(
      #{groupNo}
      ,#{studentNo}
      ,#{status}
    )
	</insert>

  <update id="updateRecordStatus" parameterType="RecordGroupStatus">
    update RECORD_ANALYSIS_GROUP
    set(
      COMPLETED_AT = SYSDATE
      ,status = #{status}
    )
    where GROUP_NO = #{groupNo}
	</update>

  <select id="selectRecordStatus" parameterType="RecordGroupStatus" resultType="_int">
    select count(*)
    from RECORD_ANALYSIS_GROUP
    where STUDENT_NO = #{studentNo}
    and STATUS = #{status}
	</select>

  <insert id="insertRecord" parameterType="RecordInsert">
    INSERT ALL
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 1, #{result.gradeStrengthWeakness})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 2, #{result.gradeInDepthAnalysis})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 3, #{result.lifeRecordStrengthWeakness})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 4, #{result.lifeRecordDiagnosisOverview})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 5, #{result.academicRoadmap})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 6, #{result.projectRecommendations})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 7, #{result.careerBookRecommendations})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 8, #{result.parentStudentMessage})
    SELECT * FROM DUAL
	</insert>

  <select id="selectRecord" parameterType="_int" resultMap="RecordDetailMap">
    select
      AI.FIELD
      ,RA.ANALYSIS
      ,RAG.STARTED_AT
      ,RAG.COMPLETED_AT
      ,RAG.STATUS
    from RECORD_ANALYSIS_GROUP RAG
    left join RECORD_ANALYSIS RA on(RA.GROUP_NO = RAG.GROUP_NO)
    left join ANALYSIS_ITEM AI on(AI.ITEM_NO = RA.ITEM_NO)
    where RAG.STUDENT_NO = #{studentNo}
    and RAG.STATUS = 'ACTIVE'
	</select>
  
</mapper>
