<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ax.student.record.RecordMapper">
  <resultMap id="RecordDetailMap" type="RecordDetail">
    <result property="createAt" column="created_at"/>
    <result property="status" column="status"/>
    <collection property="analysisPair" resultMap="pairMap"/>
  </resultMap>
  <resultMap id="pairMap" type="RecordAnalysisPair">
    <result property="field" column="field"/>
    <result property="analysis" column="analysis"/>
  </resultMap>

  <insert id="insertAnalysisGroup" parameterType="RecordGroupStatus"
    useGeneratedKeys="true"
    keyProperty="groupNo"
    keyColumn="GROUP_NO">
    insert into RECORD_ANALYSIS_GROUP(
      STUDENT_NO, STATUS
    ) VALUES(
      #{studentNo}
      ,#{status}
    )
	</insert>

  <update id="updateRecordStatus" parameterType="RecordGroupStatus">
    update RECORD_ANALYSIS_GROUP
    set
      COMPLETED_AT = SYSDATE
      ,status = #{status}
    where GROUP_NO = #{groupNo}
	</update>

  <select id="selectRecordStatusByStudentNo" parameterType="RecordGroupStatus" resultType="_int">
    select count(*)
    from RECORD_ANALYSIS_GROUP
    where STUDENT_NO = #{studentNo}
    and STATUS = #{status}
	</select>
  
  <select id="selectRecordStatus" parameterType="_int" resultType="string">
    select STATUS
    from RECORD_ANALYSIS_GROUP
    where GROUP_NO = #{groupNo}
	</select>

  <insert id="insertRecord" parameterType="RecordInsert">
    INSERT ALL
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 1, #{gsw})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 2, #{gida})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 3, #{lrsw})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 4, #{lrdo})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 5, #{lrra})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 6, #{pr})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 7, #{br})
      
      INTO RECORD_ANALYSIS (GROUP_NO, ITEM_NO, ANALYSIS)
      VALUES (#{groupNo}, 8, #{psm})
    SELECT * FROM DUAL
	</insert>

  <select id="selectRecord" parameterType="_int" resultMap="RecordDetailMap">
    select
      AI.FIELD
      ,RA.ANALYSIS
      ,RAG.STARTED_AT
      ,RAG.COMPLETED_AT
      ,RAG.STATUS
    from RECORD_ANALYSIS_GROUP RAG
    left join RECORD_ANALYSIS RA on(RA.GROUP_NO = RAG.GROUP_NO)
    left join ANALYSIS_ITEM AI on(AI.ITEM_NO = RA.ITEM_NO)
    where RAG.STUDENT_NO = #{studentNo}
    and RAG.STATUS = 'ACTIVE'
	</select>

</mapper>
