<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="roleMapper">
	<select id="selectRoleByMemberNo" parameterType="_int" resultType="string" >
		select ROLE_NAME
		from ROLE R
		left join MEMBER_ROLE MR on (MR.ROLE_NO = R.ROLE_NO)
		left join MEMBER M on (M.MEMBER_NO = MR.MEMBER_NO)
		where M.MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectUrlAccessCheck" parameterType="RoleUrlAccessCheck" resultType="_int" >
	</select>
</mapper>
