<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ax.school.SchoolMapper">

	<select id="selectSchoolList" parameterType="string" resultType="SchoolDetail">
		select
			SCHOOL_CODE
			,NAME
			,SIDO
			,SIGUNGU
			,COEDUCATION
			,SPECIALIZED
			,SPECIALIZED_TYPE
		from SCHOOL
		where NAME like '%' || #{schoolName} || '%'
	</select>


	<insert id="insertSchool" parameterType="SchoolRegister" >
		insert into SCHOOL(
			SCHOOL_CODE
			,NAME
			,SIDO
			,SIGUNGU
			,COEDUCATION
			,SPECIALIZED
			,SPECIALIZED_TYPE
		)VALUES(
			#{schoolCode}
			,#{name}
			,#{sido}
			,#{sigungu}
			,#{coeducation}
			,#{specialized}
			,#{specializedType}
		)
	</insert>
</mapper>
