<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ax.student.StudentMapper">
	<resultMap id="StudentDetailMap" type="StudentDetail">
		<!-- 
		id는 '이 컬럼 값이 같으면 같은 객체'를 나타냄
		pk에만 사용하자
		 -->
		<id property="studentNo" column="STUDENT_NO"/>
		<result property="schoolCode" column="SCHOOL_CODE"/>
		<result property="name"       column="NAME"/>
		<result property="grade"      column="GRADE"/>
		<result property="semester"   column="SEMESTER"/>
		<result property="track"      column="TRACK"/>
		<result property="status"     column="STATUS"
			javaType="com.ax.student.StudentStatusEnum"
			typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
		<result property="schoolName" column="SCHOOL_NAME"/>
		<result property="consultantNo" column="CONSULTANT_NO"/>
		<result property="consultantNickname" column="CONSULTANT_NICKNAME"/>
		<result property="consultantOrgName" column="CONSULTANT_ORG_NAME"/>
		<collection property="target" ofType="TargetInfoPair" resultMap="pairMap"/>
	</resultMap>
	<resultMap id="pairMap" type="TargetInfoPair">
		<result property="ranking" column="RANKING"/>
		<result property="major"   column="MAJOR"/>
		<result property="univ"    column="UNIV"/>
	</resultMap>
	

	<insert id="insertStudent" parameterType="StudentInsert"
		useGeneratedKeys="true"
    keyProperty="studentNo"
    keyColumn="STUDENT_NO">
		insert into STUDENT(
			SCHOOL_CODE, NAME, GRADE, SEMESTER, TRACK
		) VALUES (
			#{schoolCode}, #{name}, #{grade}, #{semester}, #{track}
		)
	</insert>

	<select id="selectStudent" parameterType="_int" resultMap="StudentDetailMap">
		select
			S.STUDENT_NO
			,S.NAME as NAME
			,S.GRADE
			,S.SEMESTER
			,S.TRACK
			,S.STATUS
			,SCH.SCHOOL_CODE
			,SCH.NAME as SCHOOL_NAME
			,T.MAJOR
			,T.UNIV
			,T.RANKING
			,CON.CONSULTANT_NO
			,ORG.NAME as CONSULTANT_ORG_NAME
			,M.NICKNAME as CONSULTANT_NICKNAME
		from STUDENT S
		left join SCHOOL SCH on (S.SCHOOL_CODE = SCH.SCHOOL_CODE)
		left join TARGET_INFO T on (S.STUDENT_NO = T.STUDENT_NO)
		left join CONSULTANT_STUDENT CS on (CS.STUDENT_NO = S.STUDENT_NO)
		left join CONSULTANT CON on (CON.CONSULTANT_NO = CS.CONSULTANT_NO)
		left join CONSULTANT_ORG ORG on (ORG.ORG_NO = CON.ORG_NO)
		left join MEMBER M on (M.MEMBER_NO = CON.CONSULTANT_NO)
		where S.STUDENT_NO = #{studentNo}
		order by T.RANKING ASC
	</select>


	<select id="selectStudentForRecordApi" parameterType="_int" resultMap="StudentDetailMap">
		select
			S.STUDENT_NO
			,S.NAME
			,S.GRADE
			,S.SEMESTER
			,S.TRACK
			,SCH.NAME AS SCHOOL_NAME
			,T.MAJOR
			,T.UNIV
			,T.RANKING
		from STUDENT S
		left join TARGET_INFO T on (S.STUDENT_NO = T.STUDENT_NO)
		left join SCHOOL SCH on (SCH.SCHOOL_CODE = S.SCHOOL_CODE)
		where S.STUDENT_NO = #{studentNo}
		and S.STATUS = 'ACTIVE'
		order by T.RANKING ASC
	</select>


	<select id="selectStudentList" parameterType="StudentSearch" resultMap="StudentDetailMap">
		select
			C.STUDENT_NO
			,C.NAME
			,C.GRADE
			,C.SEMESTER
			,C.TRACK
			,C.SCHOOL_NAME
			,C.CONSULTANT_NICKNAME
			,C.CONSULTANT_ORG_NAME
			,T.MAJOR
			,T.UNIV
			,T.RANKING
		from(
			select B.*
			from(
				select ROWNUM AS RN, A.*
				from(
					select
						S.STUDENT_NO
						,S.NAME
						,S.GRADE
						,S.SEMESTER
						,S.TRACK
						,SCH.NAME as SCHOOL_NAME
						,M.NICKNAME as CONSULTANT_NICKNAME
						,CON_ORG.NAME as CONSULTANT_ORG_NAME
					from STUDENT S
					left join SCHOOL SCH on (S.SCHOOL_CODE = SCH.SCHOOL_CODE)
					left join CONSULTANT_STUDENT CS on (CS.STUDENT_NO = S.STUDENT_NO)
					left join CONSULTANT CON on (CON.CONSULTANT_NO = CS.CONSULTANT_NO)
					left join CONSULTANT_ORG CON_ORG on (CON_ORG.ORG_NO = CON.ORG_NO)
					left join MEMBER M on (M.MEMBER_NO = CON.CONSULTANT_NO)
					<where>
						<if test="name!=null and name!=''">
							and S.NAME like '%' || #{name} || '%' escape '/'
						</if>
						<if test="grade!=0">
							and S.GRADE = #{grade}
						</if>
						<if test="semester!=0">
							and S.SEMESTER = #{semester}
						</if>
						<if test="track!=null and track!=''">
							and S.TRACK like '%' || #{track} || '%' escape '/'
						</if>
						<if test="schoolName!=null and schoolName!=''">
							and SCH.NAME like '%' || #{schoolName} || '%' escape '/'
						</if>
						<if test="(targetUniv!=null and targetUniv!='')
							or (targetMajor!=null and targetMajor!='')">

							and exists(
								select 1
								from TARGET_INFO T2
								inner join STUDENT S2 on(T2.STUDENT_NO = S2.STUDENT_NO)
								where S2.STUDENT_NO = S.STUDENT_NO
								<if test="targetUniv!=null and targetUniv!=''">
									and T2.UNIV like '%' || #{targetUniv} || '%' escape '/'
								</if>
								<if test="targetMajor!=null and targetMajor!=''">
									and T2.MAJOR like '%' || #{targetMajor} || '%' escape '/'
								</if>
							)
						</if>
						<if test="isCharged!=null">
							<if test="isCharged==true">
								and exists
							</if>
							<if test="isCharged==false">
								and not exists
							</if>
							(
								select 1
								from CONSULTANT_STUDENT CS3
								where CS3.STUDENT_NO = S.STUDENT_NO
							)
						</if>
						<if test="consultantNickname!=null and consultantNickname!=''">
							and M.NICKNAME like '%' || #{consultantNickname} || '%' escape '/'
						</if>
						<if test="consultantOrgName!=null and consultantOrgName!=''">
							and CON_ORG.NAME like '%' || #{consultantOrgName} || '%' escape '/'
						</if>
					</where>
					order by S.STUDENT_NO DESC
				) A
				where ROWNUM &lt;= #{endRow}
			) B
			where B.RN &gt;= #{startRow}
		) C
		left join TARGET_INFO T on(T.STUDENT_NO = C.STUDENT_NO)
		order by C.RN ASC, T.RANKING ASC
	</select>


	<select id="selectStudentListTotalCount" parameterType="StudentSearch" resultType="_int">
		select count(distinct S.STUDENT_NO)
		from STUDENT S
		left join SCHOOL SCH on (S.SCHOOL_CODE = SCH.SCHOOL_CODE)
		<if test="(targetUniv!=null and targetUniv!='')
			or (targetMajor!=null and targetMajor!='')">
			left join TARGET_INFO T on(T.STUDENT_NO = S.STUDENT_NO)
		</if>
		<if test="consultantNickname!=null and consultantNickname!=''
							or consultantOrgName!=null and consultantOrgName!=''">
			left join CONSULTANT_STUDENT CS on (CS.STUDENT_NO = S.STUDENT_NO)
			left join CONSULTANT CON on (CON.CONSULTANT_NO = CS.CONSULTANT_NO)
			left join CONSULTANT_ORG CON_ORG on (CON_ORG.ORG_NO = CON.ORG_NO)
			left join MEMBER M on (M.MEMBER_NO = CON.CONSULTANT_NO)
		</if>
		<where>
			<if test="name!=null and name!=''">
				and S.NAME = like '%' || #{name} || '%'
			</if>
			<if test="grade!=0">
				and S.GRADE = #{grade}
			</if>
			<if test="semester!=0">
				and S.SEMESTER = #{semester}
			</if>
			<if test="track!=null and track!=''">
				and S.TRACK like '%' || #{track} || '%'
			</if>
			<if test="schoolName!=null and schoolName!=''">
				and SCH.NAME like '%' || #{schoolName} || '%'
			</if>
			<if test="targetUniv!=null and targetUniv!=''">
				and T.UNIV like '%' || #{targetUniv} || '%'
			</if>
			<if test="targetMajor!=null and targetMajor!=''">
				and T.MAJOR like '%' || #{targetMajor} || '%'
			</if>
			<if test="isCharged!=null">
				<if test="isCharged==true">
					and exists
				</if>
				<if test="isCharged==false">
					and not exists
				</if>
				(
					select 1
					from CONSULTANT_STUDENT CS3
					where CS3.STUDENT_NO = S.STUDENT_NO
				)
			</if>
			<if test="consultantNickname!=null and consultantNickname!=''">
				and M.NICKNAME like '%' || #{consultantNickname} || '%'
			</if>
			<if test="consultantOrgName!=null and consultantOrgName!=''">
				and CON_ORG.NAME like '%' || #{consultantOrgName} || '%'
			</if>
		</where>
	</select>

	<!-- 컨설턴트 - 학생 -->
	<select id="selectCharged" parameterType="_int" resultMap="StudentDetailMap">
		select
			STU.STUDENT_NO
			,STU.NAME
			,STU.GRADE
			,STU.SEMESTER
			,STU.TRACK
			,SCH.NAME as SCHOOL_NAME
			,TI.RANKING
			,TI.UNIV
			,TI.MAJOR
		from STUDENT STU
		inner join CONSULTANT_STUDENT CS on (CS.STUDENT_NO = STU.STUDENT_NO)
		inner join SCHOOL SCH on (SCH.SCHOOL_CODE = STU.SCHOOL_CODE)
		inner join TARGET_INFO TI on (TI.STUDENT_NO = STU.STUDENT_NO)
		where CS.CONSULTANT_NO = #{consultantNo}
		order by STU.STUDENT_NO desc, TI.RANKING asc
	</select>


	<update id="updateStudent" parameterType="StudentInsert">
		update STUDENT
		set
			NAME = #{name}
			,GRADE = #{grade}
			,SEMESTER = #{semester}
			,TRACK = #{track}
			,SCHOOL_CODE = #{schoolCode}
		where STUDENT_NO = #{studentNo}
	</update>

	<update id="updateStatus">
		update STUDENT
		set STATUS = #{status}
		where STUDENT_NO = #{studentNo}
	</update>
</mapper>
