<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.axaboutconsulting.student.StudentMapper">
	<insert id="insertStudent" parameterType="StudentAdd" >
		insert into STUDENT(
			STUDENT_NO
			,NAME
			,GRADE
			,TRACK
			,TARGET_MAJOR
			,TARGET_UNIV
		)VALUES(
			SEQ_STUDENT.nextval
			,#{name}
			,#{grade}
			,#{track}
			,#{targetMajor}
			,#{targetUniv}
		)
	</insert>
	
	<select id="selectUrlAccessCheck" parameterType="RoleUrlAccessCheck" resultType="_int" >
	</select>
</mapper>
