<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ax.student.TargetInfoMapper">
	<insert id="insertTarget">
		insert all
		<foreach collection="list" item="pair">
			into TARGET_INFO (STUDENT_NO, UNIV, MAJOR, RANKING)
			values (#{studentNo}, #{pair.univ}, #{pair.major}, #{pair.ranking})
		</foreach>
		select * from dual
	</insert>
</mapper>
