<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	
<configuration>
    <typeAliases>
    	<!-- Member -->
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Login" alias="MemberLogin"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Detail" alias="MemberDetail"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$Join" alias="MemberJoin"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$SearchRequest" alias="MemberSearchRequest"/>
        <typeAlias type="com.axaboutconsulting.member.MemberVO$SearchResponse" alias="MemberSearchResponse"/>
        
        <!-- Role -->
        <typeAlias type="com.axaboutconsulting.global.security.RoleVO$UrlAccessCheck" alias="RoleUrlAccessCheck"/>
        
        <!-- Student -->
        <typeAlias type="com.axaboutconsulting.student.StudentVO$Add" alias="StudentAdd"/>
        
    </typeAliases>
</configuration>